* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#838ef9, #3535ec);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
}

.box-utente {
    align-self: flex-end;
    background-color: whitesmoke;
    width: 50%;
}

.box-system {
    align-items: flex-start;
    background-color: aqua;
    width: 50%;
}

.chat-input {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.chat-input textarea {
    height: 45px;
}


button {
    border: none;
    background-color: #f71469;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 24px;
    margin: 12px;
    color: whitesmoke;
}