* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#838ef9, #3535ec);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px 0;
    overflow: auto;
    /* min-height: calc(100vh + 200px); */
}

.separatore {
    width: 100%;
    height: 20px;
    margin-top: 50px;
}

/***************
 STILE BOX CONVERSAZIONI
 ***************/

.box-utente, .box-system {
    
    width: 30%;
}

.box-header {
    border-bottom: 1px solid lightgrey;
    color:grey;
    margin-top: 8px;
    width: 100%;
    padding-bottom: 4px;
}

.padd-r{
     padding-right: 32px;
}
.padd-l{
    padding-left: 32px;
}

.box-utente {
    align-self: flex-end;
    background-color:rgb(240, 240, 240);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: right;  
}

.box-utente p {
    padding: 16px 32px 16px 16px;
}

.box-system p {
    padding: 16px 16px 16px 32px;
}

.box-system {
    margin: 10px 0;
    align-items: flex-start;
    background-color: whitesmoke; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loader {
    margin-left: -12px;
}

.chat-input {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.chat-box {
    display: flex;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 100%;
    padding: 6px;
    flex-wrap: nowrap;
}

.chat-box div {
    cursor: pointer;
}

#chat-text {
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin-right: 12px;
  resize: none;
  width: 60%;
}


button {
    border: none;
    background-color: #f71469;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 12px;
    color: whitesmoke;
    margin: 0 6px;
    width: 10%;
    text-align: center;
}
#clear-history {
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .box-utente, .box-system {
    
        width: 60%;
    }
  }

/* NASCONDE LE COSE */
.hidden {
    display: none;
}

/* DISABILITA LE COSE */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.modal {
    position: absolute;
    display: none;
    border: solid 2px steelblue;
    border-radius: 5%;
    padding: 12px;
    background-color: antiquewhite;
    height: 400px;
    width: 370px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* inserire stili, colore bg, position, ecc */
}

.modal p {
    margin-top: 20px;
    text-align: justify;
}

.modal img {
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.modal button {
    display: inline-block;
    background-color: #838ef9;
    color: antiquewhite;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}

.modal-show {
    display: block;
}